<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unimib.travelnotes">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_travelnotes"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_travelnotes_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelNotes">
        <activity
            android:name=".autentication.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".autentication.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.newactivityevent.NewActivityEvent"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="geo" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".NewTravel"
            android:exported="true"
            android:parentActivityName=".TravelList"/>
        <activity
            android:name=".TravelList"
            android:exported="true" />
        <activity
        android:name=".Activity_travel_view"
        android:exported="false"
        android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>